name: Build Lite Calculator
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Build Status
        run: echo "Niraj's Calculator is ready to be packed!"
